@media only screen and (max-width: 1550px) {
    nav {
        height: 50px;
    }
}

@media only screen and (max-width: 1550px) and (min-width: 767px){
    .navbar-nav .page-scroll {
        height: 100%;
        padding: 15px 18px 15px 18px;
    }
}

@media only screen and (max-width: 1550px) and (min-width: 1250px) {
    .supporting .thumbnail {
        width: 75%;
    }

    nav #name {
        padding: 15px 0 15px 100px;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 992px) {
    .supporting .thumbnail {
        width: 80%;
    }

    nav #name {
        padding: 15px 0 15px 80px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .navbar-nav {
        padding-right: 10%;
    }

    nav #name {
        padding: 15px 0 15px 70px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 459px) {
    .supporting {
        height: auto;
    }

    .jumbotron, .main {
        height: auto;
    }

    .footer .col-md-6 {
        height: 4em;
        display: relative;
    }
}

@media only screen and (max-width: 767px) and (min-width: 458px) {
    nav #name {
        padding: 15px 0 15px 60px;
    }
}

@media only screen and (max-width: 767px) {
    #bs-example-navbar-collapse-1, .navbar-nav, .navbar-nav li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        background-color: black;
    }

    .navbar-nav .page-scroll {
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 2em;
        text-align: center;
        width: 100%;
    }

    .navbar-nav li a.page-scroll {
        color: rgb(48, 140, 255);
    }
}

@media only screen and (max-width: 458px) {
    nav #name {
        padding: 15px 0 15px 40px;
    }

    .navbar-toggle {
        margin-right: 35px;
    }

    .jumbotron {
        padding: 35% 0;
    }

    .jumbotron h1 {
        padding: 20% 0;
        font-size: 4em;
    }

    #carousel-example-generic {
        width: 85%
    }

    .supporting {
        padding-top: 25%;
        height: auto;
    }

    #supporting-nav {
        margin: 0 35px;
    }

    .supporting .nav-pills li a{
        font-size: 2.5em;
    }

    .supporting .thumbnail {
        width: 90%;
        margin: 10% 10%;
    }

    .supporting .modal-lg .modal-title {
        font-size: 4em;
    }

    .supporting .modal-lg .modal-footer p, .supporting .modal-lg .modal-footer .btn {
        font-size: 2em;
    }

    .main {
        height: 80%;
        padding: 15% 0;
    }

    .main #eric {
        margin-top: 10%;
        margin-bottom: 15%;
        margin-left: 20%;
        margin-right: 15%;
    }

    .main .col-xs-6 {
        margin-left: -2.5%;
    }

    .main .col-xs-6 p {
        font-size: 2.5em;
        text-align: left;
    }

    .footer p {
        margin-top: 5%;
        margin-left: -10%;
        margin-bottom: 5%;
    }
    .footer p a {
        font-size: 1.5em;
    }
}