/* Make this the responsive style sheet */
/*
Blue: #0359c6
Gray: #595F72
White: #FDFFFC
Black: #0A0903
Red: #FB3640
Yellow: #FFB238
Green: #86BA90
Pink: #E5C2C0
*/

html, body {
	margin: 0 auto;
	padding: 0;
	font-weight: 300;
	font-family: 'Inconsolata', serif;
	font-size: calc(1vw + 1vh);
	width: 100%;
}

body {
	background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../jpg/Cold-Chicago.jpg) no-repeat center center fixed;
	background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../jpg/Cold-Chicago.jpg") center center fixed no-repeat;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../jpg/Cold-Chicago.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #FDFFFC; /* White */
	min-height: 100%;
}

div {
	max-width: 100%;
}

/* div, .jumbotron, .container {
	overflow: hidden;
} */

.container, .container-fluid, .row {
	width: 100%;

}

.row {
	margin: auto;
}

/* Navbar */
nav {
	background-color: #FDFFFC; /* White */
	height: 50px;
	margin: 0;
	padding: 0;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.5s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.5s ease-in-out;
}

nav .container-fluid {
	height: 100%;
	width: 100%;
	padding: 0;
}

.container-fluid .navbar-header {
	margin: 0;
	padding: 0;
}

.navbar-nav, .navbar-header {
	height: 100%;
}

.navbar-nav .page-scroll {
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
}

.navbar-nav li a.page-scroll {
	color: #0359c6; /* Blue */
}

#bs-example-navbar-collapse-1, .navbar-nav, .navbar-nav li:active {
	background-color: #FDFFFC; /* White */
	color: #0359c6; /* Blue */
}

#bs-example-navbar-collapse-1, .navbar-nav, .navbar-nav li:hover {
	background-color: #FDFFFC; /* White */
	color: #0359c6; /* Blue */
}

nav #name {
	margin: 0 auto 0 2em;
	font-family: 'Pacifico';
	color: #0359c6; /* Blue */
	height: 100%;
}

.navbar-toggle {
	margin-right: 25px;
}

/*Jumbotron*/
.jumbotron {
	background: transparent;
	text-align: center;
	height: auto;
}


.intro {
	margin: 35% auto;
	text-align: center;
}

.blog-title{
	margin: 10% auto;
}

.jumbotron h1 {
	font-size: 3em;
}

.jumbotron .blog {
	list-style: none;
	text-align: left;
	padding: 3%;
}

.jumbotron .blog .article {
	margin: 10% auto;
}

.carousel-inner a img {
	border-radius: 5px;
	background-color: #0A0903; /* Black */
	width: 100%;
}

#carousel-example-generic {
	margin: 0 auto;
	width: 90%;
}

#over-flow {
	margin: 5%;
}

/* .scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
	position: absolute;
  	bottom: 30px;
  	left: 50%;
  	margin-left: -16px;
  	display: block;
  	width: 32px;
  	height: 32px;
  	border: 2px solid FDFFFC;
  	background-size: 14px auto;
  	border-radius: 50%;
	-webkit-animation: bounce 2s infinite 2s;
  	animation: bounce 2s infinite 2s;
  	-webkit-transition: all .2s ease-in;
  	transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
} */

/* Portfolio */
.supporting, #over-flow {
	height: auto;
	min-height: 100%;
}

.supporting {
	padding-top: 15%;
	margin-top: 10%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.col-md-4 {
	padding: 0;
}

#supporting-nav {
	margin: 0 auto;
	padding-bottom: 5%;
	padding-top: 7.5%;
	width: 90%;
}

.nav-pills li {
	margin-right: 1%;
}

.nav-pills li.active a {
	background-color: #0359c6!important; /* Blue */
	color: #FDFFFC!important; /* White */
}

.nav-pills li.active a:hover {
	background-color: #0359c6!important; /* Blue */
	color: #FDFFFC!important; /* White */
}

.nav-pills li a:hover {
	background-color: #FDFFFC!important; /* White */
}

.supporting-nav .active li a {
	color: #FDFFFC!important; /* White */
}

.supporting .nav-pills li a {
	font-size: 2.5em;
	color: #0359c6; /* Blue */
}

.supporting .thumbnail {
	width: 90%;
	margin: 0 auto 5%;
	padding: 0!important;
	border: 0!important;
}

.supporting a.unselected.thumbnail img {
	display: none;
}

.supporting a.selected.thumbnail img {
	display: show;
	border: 5px solid #FB3640; /* Red */
	border-radius: 4px;
}

/* Modals */
.modal-body img {
	border-radius: 5px;
	background-color: #0A0903; /* Black */
}

.modal-header h3 {
	text-align: left;
	color: #0A0903; /* Black */
}

.modal-footer p {
	text-align: left;
	color: #595F72; /* Gray */
}

/*Main*/

.main {
	margin: 7.5% auto;
	height: 75%;
}

.row div {
	margin: auto 0;
}

#about img {
	width: 60%;
}

.main #eric {
	margin: 0 auto;
	padding: 7.5% 5%;
	width: 90%;
	color: #0359c6; /* Blue */
	text-align: center;
}

.main p, .main ul li, .main ol li {
	font-size: 2em;
}

.main ul li {
	list-style: none;
}

.main ul li p {
	padding-left: 25%;
	text-align: left;
	color: #FB3640; /* Red */
}

/* Footer Section  */
.footer {
	background-color: #FDFFFC; /* White */
	padding-top: 10px;
	padding-bottom: 5px;
}

.footer, .footer div.container, .footer div.container .row, .footer ul {
	width: 100%;
}

.footer .row, .footer ul {
	margin: 0 auto;
	padding: 0;
}

.footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
}

.footer ul li {
	height: 50px;
	display: inline-block;
	padding: 5px 1em;
}

.footer i {
	color: #0359c6; /* Blue */
	font-size: 35px;
}

.footer .copyright {
	text-align: center;
}
