<footer class="footer">
    <div class="container">
        <div class="row">
            <ul>
                <li>
                    <a href="mailto:eric@ericchrobak.com">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/epunx2">
                        <span class="fa fa-github-square"></span>
                    </a>
                </li>
                <li>
                    <a href="tel:312-513-8086">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/echrobak">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://epunx2.github.io/">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
