<footer class="footer">
    <div class="container">
        <div class="row">
            <ul>
                <li>
                    <a href="mailto:eric.chrobak@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/epunx2">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="tel:312-513-8086">
                        <i class="fa fa-phone"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/echrobak">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} 2015-{{ site.time | date: '%Y' }}</p>
        </div>
    </div>
</footer>
