<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146581885-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-146581885-1');
	</script>
	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="author" content="Eric Chrobak">
	<meta name="google-site-verification" content="mlSH_0PUjKe4Vjt1l5LJBdkVBq2rtdxkN0A2gV92NU4" />
	<meta name="description" content="Eric Chrobak is a full stack Ruby on Rails Developer. Other skills include HTML, CSS, JavaScript, jQuery, SQLite, and Zoho Creator.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<!--CSS-->
	<link rel="shortcut icon" type="image/icon" href="{{ 'jpg/webfavicon.png' | relative_url }}">
	<link rel="icon" type="image/icon" href="{{ 'jpg/webfavicon.png' | relative_url }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ 'css/scrolling-nav.css' | relative_url }}">
	<!-- custom style -->
	<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ 'css/responsive.css' | relative_url }}">
	<style type="text/css"></style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ 'javascript/jquery.easing.min.js' | relative_url }}"></script>
	<script src="{{ 'javascript/scroll-down.js' | relative_url }}"></script>
	<script src="{{ 'javascript/script.js' | relative_url }}"></script>
	<script src="{{ 'javascript/scrolling-nav.js' | relative_url }}"></script>
</head>
