<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top smart-scroll" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" id="name" href="#page-top">EC</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll active" href="{{ site.github }}/">Home</a>
                </li>
                {% for item in site.data.navigation %}
                <li>
                    <a class="page-scroll" href="{{ item.link | prepend: site.github }}">{{ item.name }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>

    </div>
</nav>
