html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
    padding-top: 44px;
    text-transform: uppercase;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0;
}

.nav ul {
  margin: 0 0 20px;
  text-align: center;
  padding-right: 40px;
}

.nav li {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
    list-style-type: none;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 10px;
    display: inline-block;
    text-align: left;
}

.nav li:hover {
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

.row {
  margin-top: 30px;
}

.footer {
	height: 170px;
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}

.footer {
	padding-top: 28px;
	padding-left: 60px;
}

@media (max-width: 500px) {
  .row {
    margin-top: 0;
  }
  .img-responsive {
    margin-bottom: 20px;
  }
}